log/*
logs/*
.*
*.log
!.gitignore
!.gitkeep

# Ignore SSH Keys:
*.private
id_ed25519
id_ed25519.*
id_rsa.*
id_rsa
ssh_host_ecdsa_key
ssh_host_ed25519_key
ssh_host_rsa_key

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Igonre user defined variables
local-vars.yml
local-vmware.yml

# Ignore ansible venv
venv/*

# Ignore images dir
images/*

# Ignore evaluated templates
run_playbook.sh
run_venv_cmd.sh
inventory/localhost
