#!/usr/bin/env bash
source "{$activate_path}"
VENV_BIN="{$venv_bin_path}"
VENV_CMD=$1
INOPTS=("$@")
INOPTS=("$\{INOPTS[@]/$VENV_CMD\}")

if [ ! -f "$\{VENV_BIN\}/$\{VENV_CMD\}" ]; then
    echo "$\{VENV_CMD\} not found in venv binary directory"
    exit 1
fi

${VENV_BIN}/${VENV_CMD} $\{INOPTS[@]\}
