---
# will be used for both vm name in vmware and vm hostname
vm_hostname: ''

vmware_vm_parrent_folder: ''
vmware_vm_folder: ''
vmware_vm_network_label: ''

vm_ram_size: 2
vm_cpu_count: 2
vm_cpu_per_socket: 1
vm_disk_size: 32

# this key will be used in cloud-config for ansible user
ansible_user_public_key: ''
